textarea {
  min-height: 400px;
}

.styled-table {
  text-align: left;

  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  text-align: left;
  background-color: #2067b9;
  color: #ffffff;
}
.styled-table th,
.styled-table td {
  text-align: left;
  padding: 12px 15px;
}
.styled-table th {
  text-align: left;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #2067b9;
}
.styled-table tbody tr.active-row {
  text-align: left;
  font-weight: bold;
  color: #009879;
}
